<h2>Results for "<%= @query %>"</h2>
<p><%= session[:user_name]%></p>
<p><%= session[:user_id]%></p>
<ul>
<% @results.each do |movie| %>
 <li>
  <%= movie.inspect%>
     <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
                  <img src="https://image.tmdb.org/t/p/original<%= movie['poster_path']%>" class="card-img" alt="..." >
            <div class="card-body">
              <a href="/movie/<%= movie['id'] %>"><h5 class="card-title"> <%= movie['title'] %></h5></a>
              <p class="card-text"><%= movie['overview']%></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <form action="" method="post">
                 <a><button type="button" class="btn btn-sm btn-outline-secondary">Add</button></a>
                 </form>
                </div>
                <small class="text-muted">Release date :<%= movie['release_date']%></small>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
 </li>
<% end %>
</ul>

 