<div class="navBar">
    <nav class="navbar navbar-light bg-light navBar">
        <a href="/search" class="navbar-brand" ><%= image_tag("newlogo.png", :class => "navbar-logo") %></a>
        <form class="form-inline" action="/search/results">
            <div class="input-search">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="submit_button"  type="submit"><i class="fas fa-search"></i></button>
   
            </div>
        </form>
        <form action="/user/favourite">
            <button class=" submit_button" value="Watchlist" type="submit"><i class="fas fa-star"></i> Watchlist</button>
        </form>
    </nav>
        <div class="logout-position">
            <button  class ="submit_button"><a class="logout_style"rel="nofollow" data-method="delete" href="/sessions"><i class="fas fa-sign-out-alt"></i></a></button>
        </div>  
</div>
<div class="search-results-page-body">
    <div class="search-page-header">
        <div class="search-results-name">
          <h5>Results for <%= @query %></h5>
        </div>
        <hr class="line-under-query">
    </div>

  <% @results.each do |movie|%>
    <div class="main-body-container">
        <div class="image-title-results-page">
            <img class="image-style" src="https://image.tmdb.org/t/p/original<%= movie['poster_path']%>"  alt="..."style="width:150px;height:150">
            <div class="search-result-title">
              <p class="movie-title"><a class="movie-title-link" href="/movie/<%= movie['id'] %>"> <%= movie['title'] %></a></p>
            </div>
        </div>  
    </div>    
<% end %>
</div>


<div class="card footer">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
</div>