<div class="navBar">
    <nav class="navbar navbar-light bg-light navBar">
    <a class="navbar-brand" ><%= image_tag("newlogo.png", :class => "navbar-logo") %></a>
    <form class="form-inline" action="/search/results">
        <div class="input-search">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0 submit_button" value="Search" type="submit">
        </div>
    <form action="user/favourite">
    <input class="btn btn-outline-success my-2 my-sm-0 submit_button" value="watchlist" type="submit">
    <div class="logout-position">
    <button class="btn btn-primary logout_button" type="submit"><%= link_to("Logout", sessions_path, :method => :delete)%></button>
    </div>
    </form>
    </form>
    </nav>
</div>
    <div class="card-body card-show-body">
        <div class="show-page-image">
            <img src="https://image.tmdb.org/t/p/original<%= @movie['poster_path']%>" class="card-img" alt="..." >
        </div>
        <div class="show-page-main-content">
            <div>
            <h2 class="card-title"><%= @movie['title']%></h2>
            <h4 class="card-title">Overview</h4>
            <p class="card-text"><%= @movie['overview']%></p>
            <p class="card-text">Budget : <%= @movie['budget']%></p>
            <p class="card-text"> Popularity : <%= @movie['popularity']%></p>
            <%= link_to "Add", href="/user/movies/"+@movie['id'].to_s+"/add_favourite", :method => :post %>
        </div>
    </div>
</div>

<div class="card footer show-footer">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>