
    <div class="navBar">
    <nav class="navbar navbar-light bg-light navBar">
    <a href="/search" class="navbar-brand" ><%= image_tag("newlogo.png", :class => "navbar-logo") %></a>
    <form class="form-inline" action="/search/results">
        <div class="input-search">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0 submit_button" value="Search" type="submit">
        </div>
    </form>
    <form action="/user/favourite">
    <input class="btn btn-outline-success my-2 my-sm-0 submit_button" value="watchlist" type="submit">
    <div class="logout-position">
    <button class="btn btn-primary logout_button" type="submit"><a rel="nofollow" data-method="delete" href="/sessions">Logout</a></button>
    
    </div>
    </nav>
    </form>
</div>
   
    
    <div class="image-style-show-results-container">
     <div class="above-image-show">
        <div class="text-above-image-show">
        <h1>Results for <%= @movie['title'] %></h1>
        </div>
         <div>
        <hr class="line-under-show-movie">
        </div>
    </div>
    <div class="container-show-results-page">
        <div class="card mb-3 card-size-position-show" style="width: 940px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/original<%= @movie['poster_path']%>" class="image-show-results" alt="..." style="width:280px;height:280">
                </div>
                <div class="col-md-8">
                <h2 class="card-title"><%= @movie['title']%></h2>
                <h4>Overview</h4>
                <p><%= @movie['overview']%></h2></p>
                <h6>Popularity<h6>
                <p><%= @movie['popularity']%></h2></p>
                 <%= link_to "Add", href="/user/movies/"+@movie['id'].to_s+"/add_favourite", :method => :post %>
                </div>
            </div>
        </div>
    </div>
</div>
    
  
    <div class="card footer">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
</div>
            